@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 900px){/*Media query para celular*/
    main{
        overflow: hidden;
    }
    #sidebar{
        display: none;
        height: 0;
        padding-top: 20px;
    }
    .content{
        left: 0;
        width: 100%;
        overflow-x: hidden;
    }
    #sessao-bemvindo .banner{
        height: 300px;
        width: 100%;
        left: 100%;
        background-position: center;
        background-size: cover;
        box-shadow: 1px 0px 9px 0px rgba(0, 0, 0, 0.568);
    }

    .sessao-bemvindo-content{
        position: relative;
        width: 90%;
        margin-bottom: 40px;
    }
    .sessao-bemvindo-btn{
        margin: auto;
    }
    .sessao-minibanner{
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        float: none;
    }
    .sessao-descricao{
        left: 0;
        float: none;
    }
    .sessao-descricao > p{
        line-height: 1.5;
        font-size: 13px;
        margin-bottom: 0;
        margin-left: 50px;
    }
    #sessao-sobre .sessao-minibanner{
        width: 90%;
        height: 300px;
        background-position: center;
        background-size: cover;
        float: none;
        margin-top: 200px;
    }
    #sessao-sobre .sessao-descricao{
        position: absolute;
        left: 0;
        width:100%;
        height: 300px;
    }
    #sessao-sobre h1{
        margin-top: 450px;
        margin-bottom: -180px;
        margin-left: 20%;
    }
    #sessao-sobre p{
        margin: 10px;
        margin-left: 14%;
        margin-bottom: 40px;

    }
    .content h1{
        font-size: 33px;
    }
    .content h2 {
        font-size: 25px;
    }
    .banner-galeria{
        width: 100%;
    }
    #sessao-doces-1{
        overflow-x: auto;
   
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin-left: -50px;
    }
    #sessao-doces-1, #sessao-doces-, #sessao-doces-3{
        padding-right: 50px;
        margin-bottom: 50px;
        margin-top: 260px;
    }
    #sessao-doces-1{
        margin-top: 570px;
    }
    #sessao-doces-1 h2{
        margin-bottom: 400px;
        margin-left: 200px;
    
    }
    .doces1-imgs{
        width: 500px;
    }
    #sessao-contato{
        display: block;
        width: 200px;
    }
    #form-contato input[type=text], #form-contato input[type=email], #form-contato textarea{
        display: block;
        border: 1px solid #006599;
        padding: 10px;
        margin-bottom: 20px;
        width: 200px;
        font-size: 16px;
        font-family:  'Open Sans',  sans-serif;
    }
    footer{
        width: 100%;
    }
}
