@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --cor0:#A61420;
    --cor1:#141A26;
    --cor2:#F2C185;
    --cor3:#D9763D;
    --cor4:#8C513B;

    --font1: "Pacifico", cursive;
    --font2: "Victor Mono", monospace;
}

html{
    font-family: 'Open sans', 'sans-serif';
}
a{
    transition: .5s;
}
/*Menu Lateral*/
#sidebar{
    position: fixed; 
    height: 100%;
    width: 300px;
    background-image: linear-gradient(22deg, var(--cor3) 56%, var(--cor3) 100%);
    padding-top: 40px;
}
#sidebar h1{
    font-family: var(--font1);
    font-variant: small-caps;
    font-weight:bolder;
    letter-spacing: 5px;
    font-size: 4em;
    color: var(--cor1);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: 1s;
}
#sidebar h1:hover{
    color:#8C513B;
    transition: 4s;
}
#sidebar a{
    color: white;
    font-family: var(--font2);
    text-decoration: none;
    font-size: 16px;
}

#sidebar a:hover{
    color: var(--cor0);
}
#sidebar li{
    padding: 20px;
}
.sidebar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.logo-doceria{
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
/*Conteudo*/
.content {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2{
    color: #8C513B;
    margin-bottom: 30px;
}
.content h1{
    font-size: 48px;
}
.content h2 {
    font-size: 35px;
}

section{
    padding-left: 50px;
}
/*Bem vindo*/
#sessao-bemvindo {
    padding-left: 0;
}
.sessao-bemvindo-content{
    padding-left: 50px;
}
#sessao-bemvindo .banner{
    height: 500px;
    background-image: url(../imagens/banner2.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.568);
}

#sessao-bemvindo h1{
    margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 100px;
}

.sessao-minibanner{
    width: 300px;
    height: 400px;
    background-image: url(../imagens/banner3.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}
.sessao-descricao{
    position: absolute;
    left: 370px;
    padding-right: 30px;
}

.sessao-descricao p{
    line-height: 2;
    font-size: 13px;
    margin-bottom: 30px;
    margin-left: 25px;
}

.sessao-bemvindo-btn, form input[type=submit]{
    background-color: var(--cor3);
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    transition: .5s;
    display: block;
    text-align: center;
    width: 100px;
    border: none;
    cursor:  pointer;
    margin-left: 25px;
}
.sessao-bemvindo-btn:hover, form input[type=submit]:hover{
    background-color: var(--cor0);
}

/*Sessao sobre*/
#sessao-sobre .sessao-minibanner{
    float: right;
    margin-right: 50px;
    background-image: url(../imagens/banner4.jpg);
}
#sessao-sobre .sessao-descricao{
    position: absolute;
    left: 25px;
    width: calc(100% - 400px );
}
/* Galeria*/
.banner-galeria{
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
}
#sessao-doces-1, #sessao-doces-, #sessao-doces-3{
    padding-right: 50px;
    margin-bottom: 50px;
}

.doces1-imgs{
    width: 18.8%;
    margin-left: .5%;
    margin-right: .5%;
}

#img1{
    background-image: url('../imagens/galeria1.jpg');
    margin-left: 0;
}
#img2{
    background-image: url('../imagens/galeria2.jpg');
}
#img3{
    background-image: url('../imagens/galeria3.jpg');
}
#img4{
    background-image: url('../imagens/galeria4.jpg');
}
#img5{
    background-image: url('../imagens/galeria5.jpg');
    margin-left: 0;
}

.doces2-imgs{
    width: 32.3%;
    margin-left: .5%;
    margin-right: .5%;
}

#img6{
    background-image: url('../imagens/galeria6.jpg');
    margin-left: 0;
}
#img7{
    background-image: url('../imagens/galeria7.jpg');
}
#img8{
    background-image: url('../imagens/galeria8.jpg');
    margin-left: 0;
}
.doces3-imgs{
    width: 23.9%;
    margin-left: .5%;
    margin-right: .5%;
}

#img9{
    background-image: url('../imagens/galeria9.jpg');
    margin-left: 0;
}
#img10{
    background-image: url('../imagens/galeria10.jpg');
}
#img11{
    background-image: url('../imagens/galeria11.jpg');
}
#img12{
    background-image: url('../imagens/galeria12.jpg');
    margin-left: 0;
}
#form-contato{
    width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea{
    display: block;
    border: 1px solid #006599;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    font-family:  'Open Sans',  sans-serif;
}

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus , #form input[type=textarea]:focus{
    border-color: var(--cor0);
}

#form-contato textarea{
    height: 150px;
}
#form-contato ::placeholder{
    color: var(--cor4);
}
#form-contato input[type=submit]{
    margin-left: 0;
    font-size: 16px;
    width: 180px;
}

/*Fotter*/
footer{
    height: 20px;
    padding: 5px;
    color: white;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: #141A26;
}
footer p{
    text-align: center;
    font-weight: bolder;
}
