@charset "UTF-8";
body{
    background-image: linear-gradient(to left, #e88383, #97911c);
    background-image: url('foto-grande-angular-de-arvores-altas-da-floresta-com-galhos-caidos-durante-o-outono.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}
h1, h2, p{
    margin: auto;
    width: 300px;
    background-color: rgb(121, 83, 83);
    color: white;
    margin-bottom: 20px;
}
a{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}