@charset "UTF-8";

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(back.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    transition: 1s;
    background-color: rgb(165, 42, 42);
    border-radius: 15px;
}
h1:hover{
    height: 350px;
    width: 300px;
    transition: 0.5s;
    box-shadow: 5px 5px 15px black;
}