@charset "UTF-8";

@media (min-width: 808px) {
        .header{
            display: flex;
            justify-content: space-between;
        }
        .header li {
          float: left;
          font-size: 50px;
        }
        .header .menu {
          clear: none;
          float: right;
          max-height: none;
        }
        .header .menu-icon {
          display: none;
        }
}

@media (max-width: 767px){
  main{
    max-width: 425px;
  }
  .card{
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-title{
    font-size: 19px;
  }
  .card-body p{
    font-size: 18px;
  }
  #pop{
    font-size: 30px;
    width: auto;
  }
  #pop-container{
    --bs-gutter-x: -4.5rem;
  }
}

