@charset "UTF-8";

@media (min-width: 768px) {
        .header{
            display: flex;
        }
        .header li {
          float: left;
          font-size: 50px;
        }
        .header .menu {
          clear: none;
          float: right;
          max-height: none;
        }
        .header .menu-icon {
          display: none;
        }
    
}

