@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    transition: 0.5s
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --cor0: #014040;
    --cor1: #02735E;
    --cor2: #03A678;
    --cor3: #F27405;
    --cor4: #731702;
    
    --font-padrao: "Fira Sans Condensed", sans-serif;
    --font-destaque:"Poppins", sans-serif;
}

body{
    text-align: center;
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#logo-img{
    width: 80px;
    height: 90px;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
}

.header {
    background-color: #232A31;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: relative;
    display: flex;
    width: 100%;
    z-index: 3;
    flex-direction: row;
    justify-content: flex-start;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: inline;
    font-size: 10px;
    color: white;
    padding: 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: var(--font-destaque);
    font-weight: 600;
    font-style: normal;
    line-height: 91px;
    margin: 0px 20px 0px 10px;
    
}

li a:hover{
    background-color: #02735e59;
    border-radius: 10px;
}

  
  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: .2s ease-out;
}
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: flex;
    padding: 45px 30px;
    position: relative;
    user-select: none;
    flex-direction: row-reverse;
    justify-content: center;
}
  
.header .menu-icon .navicon {
    background: var(--cor3);
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .navicon:before,.header .menu-icon .navicon:after {
    background: var(--cor1);
    content: '';
    display: block;
    height: 100%;
    position: relative;
    transition: all .2s ease-out;
    width: 100%;
}
  

.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
  /* menu btn */
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 450px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  /* Animacao do menu */
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-65deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(65deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.default-login-btn{
    
    padding: 5px;
    height: 75px;
    margin-right: 100px;
    width: 100px;
    text-align: center;
    background-color: var(--cor2);
    border-radius: 5px;
    color: #FFF;

}
.default-login-btn:hover{
    background-color: var(--cor0);
}

.default-cads-btn{
    padding: 5px;
    text-align: center;
    height: 75px;
    margin-top: 5px;
    width: 100px;
    background-color: var(--cor3);
    border-radius: 5px;
    color: #FFF;

}
.default-cads-btn:hover{
    background-color: var(--cor4);
}
h5{
    background-color: rgb(3, 151, 151);
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    font-size: 2em;
    font-family: var(--font-destaque);
    font-weight: 700;
}
.carousel-inner p {
    background-color: #ff983dce;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border-radius: 10px;
    font-family: var(--font-destaque);
    font-weight: 600;
    border-radius: 25px;
}
.carousel-control-prev-icon{
    border-radius: 30px;
    background-color:#014040;
}
#carouselExampleCaptions{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.518);
}
.carousel-control-next-icon{
    border-radius: 30px;
    background-color:#014040;
}
main{
    max-width: 1250px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

@keyframes pop {
    from{
        background-color: #03A678;
    }
    to {
        background-color: #f27405bd;
    }
}
#pop{
    font-size: 45px;
    font-family: "Girassol", serif;
    font-family: 900;
    background-color: #02735E;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: white;
    
    
    margin-top: 10px;
    width: 300px;
    animation: pop 10s ease-in-out 0.5s infinite alternate forwards;
}
#pop-container{
    --bs-gutter-x: -0.2rem;
}
#pop-container img{
    min-height: 600px;
}
div.card.h-100{
    max-height: 70% !important;
}
.card-body{
    box-shadow: 3px 3px 18px 4px rgba(0, 0, 0, 0.199);
    background: linear-gradient(to left,#B36D30,#ac7e59 );
    margin-bottom: 60px;
    color: white;
    border-radius: 0px 0px 20px 20px;
    max-height: 490px; 
    min-height: 400px;
}
.card-title{
    background-color: #232A31;
    font-size: 30px;
    border-radius: 40px 0px 50px 0px;
}
.card-body p{
    color: white;
}
.card-body h5{
    color: white;
}
.pop-but{
    background-color: black;
}



footer p {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    background-color: #920000;
    max-width: 250px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 20px 0px 20px 0px ;
    transition: 2s;
}
footer p:hover{
    background-color: #014040;
    transition: 1s;
    
}
footer p a {
    text-decoration: none;
    color: #F27405;
}
footer p a:hover{
    color: #920000;
}


#login-user svg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: auto;
    color: #014040;
    margin-left: auto;
    margin-bottom: 20px;
}
#cads-user svg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    color: #731702;
    margin-bottom: 20px;
}
#login{
    font-size: 60px;
    background-color: #B36D30;
    font-family: var(--font-destaque);
    color: white;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    border-radius: 0px 30px;
}
#cads{
    font-size: 60px;
    background-color: #920000c4;
    font-family: var(--font-destaque);
    color: white;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    max-height: 200px;
    margin-top: 10px;
    border-radius: 0px 30px;
}
.form-label{
    font-size: 35px;
}
#exampleInputEmail1{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

@keyframes focusanimation {
    0%{
       border: 2px solid red;
       box-shadow: 3px 3px 10px red;
    }
    25% {
        border: 2px solid rgb(255,238,0);
        box-shadow: 3px 3px 10px rgb(255,238,0);
    }
    50% {
        border: 2px solid rgb(30, 255, 0);
        box-shadow: 3px 3px 10px rgb(30, 255, 0);
    }
    75%{
        border: 2px solid rgb(0, 17, 255);
        box-shadow: 3px 3px 10px rgb(0, 17, 255);
    }
    100%{
        border: 2px solid rgb(255, 0, 255);
        box-shadow: 3px 3px 10px rgb(255, 0, 255);
    }
    
}

#exampleInputPassword1{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
:focus{
    animation: focusanimation 5s ease-in-out 0.5s infinite alternate forwards;
}

.form-check-label{
    max-width: 100px;
}
