@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #014040;
    --cor1: #02735E;
    --cor2: #03A678;
    --cor3: #F27405;
    --cor4: #731702;
    
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', sans-serif;
    --font-android: 'Android', sans-serif;
}

.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232A31;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}
.logo{
    width: 70px;
    margin-top:3px;
    border-radius: 50%;
}
.nav{
    position: relative;
}
#navbar-items{
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
}
#navbar-items li{
    display: inline-table;
    text-transform: uppercase;
    margin-left: 5px;
}
#navbar-items li a {
    color: #FFF;
    text-decoration: none;
    margin-right: 10px;
    transform: .5s;
}
#navbar-items li a:hover{
    color: #CCC;
}
.default-login-btn{
    padding: 15px 20px;
    background-color: var(--cor2);
    border-radius: 5px;
    color: #FFF;

}
.default-login-btn:hover{
    background-color: var(--cor0);
}

.default-cads-btn{
    padding: 15px 20px;
    background-color: var(--cor3);
    border-radius: 5px;
    color: #FFF;

}
.default-cads-btn:hover{
    background-color: var(--cor4);
}
#menu{
    display: none;
}
.lado{
    margin-right: 100px;
}