@charset "UTF-8";
body{
    text-align: center;
    background-image: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    /*background-image:linear-gradient(90deg, rgba(115,2,55,1) 7%, rgba(166,93,3,1) 26%, rgba(217,142,4,1) 67%, rgba(242,80,65,1) 86%);*/
}

#Meu-Canva{
    background-color: rgba(255, 255, 255, 0.748);
    border:solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(80, 0, 199);
}

