@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: "Oxanium";
    background-color: black;
    color: white;
}


body::before{
    content: "";
    background-image: url(../imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.cabecalho {
	display: flex;
	justify-content: center;
}

.selecao-de-personagens {
	display: flex;
	align-items: center;
	gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

.selecao-de-personagens .lista-de-personagens {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.selecao-de-personagens .personagens {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 585px;
	gap: 25px;
}

.selecao-de-personagens .personagens .titulo {
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	border-bottom: 2px solid #47f4ff;
	width: 100%;
	text-align: center;
}

.lista-de-personagens .personagem {
	border-bottom: 4px solid #47f4ff;
}

.lista-de-personagens .personagem img {
	width: 100%;
	height: 100%;
}

.lista-de-personagens .personagem.selecionado {
	box-shadow: 0px 0px 24px 5px #0271f7;
}

.personagem-selecionado {
    text-align: center;
    max-height: 530px;
}

.personagem-selecionado .personagem-grande{
    width: 430px;
    height: 430px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}

/* Responsividade */
@media (max-width: 1120px){
    .cabecalho .logo{
        max-width: 190px;
    }

    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .selecao-de-personagens .personagens{
        margin-top: 37px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 15px;
    }

    .selecao-de-personagens .lista-de-personagens{
        gap: 9px
    }

    .selecao-de-personagens .personagem img{
        width: 80px;
    }

    .personagem-selecionado .personagem-grande{
        width: 350px;
        height: 350px;
    }

    .personagem-selecionado .descricao-personagem{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }

}