@charset "UTF-8";

body{
    background-image: url(imagens/neutro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
div.container{
    height: 600px;
    width:  600px;
    margin: auto;
    text-align: center;
    margin-bottom: -235px;
}
button{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
button#dia{
    background-image: url(imagens/esquerda.png);
    background-size: 100px;
    background-position: center;
    margin: 0px 10px 0px 206px;
}

button#noite{
    background-image: url(imagens/direita.png);
    background-size: 100px;
    background-position: center;
   

}
main{
    height: 700px;
    width:  600px;
    position: relative;
    margin: auto;
}
