@charset "UTF-8";

body{
    background-color: #faeeee91;
}
div.container{
    height: 600px;
    width:  600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 2s;
}
button{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 4px line black;
    margin: auto;
}
main{
    height: 700px;
    width:  600px;
    position: relative;
    margin: auto;
}
