@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 768px){/*Media query para tablet*/
    body{
        background: url(../imagens/img-mq.png) center center;
        background-size: cover;
    }
    section#menu img{
        width: 60px;
        margin-left: auto;
        margin-right: 20%;
    }
    section#menu{
        display: none;
        position: fixed;
        top: 0;
    }
    section#menu li{
        text-align: right;
    }
    section#conteudo{
        width: 500px;
        height: 600px;
        h1{
            font-size: 2em;
        }
        p{
            width: 400px;
            display: block;
            columns: 1;
        }
    }
    .conteudo-item{
        width: 400px;
    }
    .conteudo-item:hover{
        width: 450px;
    }
    i#icone-menu{
        display:block;
        background-color: #4b12f793;
        margin: auto;
        margin-top: 10px;
        color: white;
        width: 200px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
        position: top;
        font-size: 2em;
        text-align: center;
    }
    #conteudo{
        margin-top: auto;
    }
}

@media screen and (max-width: 600px){/*Media query para celular*/
    body{
        background: url(../imagens/img-mq.png) center center;
        background-size: cover;
    }
    section#menu img{
        width: 50px;
        margin-left: auto;
        margin-right: 30%;
    }
    section#menu{
        display: none;
        position: fixed;
        top: 0;
    }
    section#menu li{
        text-align: right;
    }
    section#conteudo{
        width: 300px;
        height: calc(80% + 40px);
        h1{
            font-size: 1.4em;
        }
        p{
            width: 280px
        };
    }
    .conteudo-item{
        width: 280px;
    }
    .conteudo-item:hover{
        width: 300px;
    }
    i#icone-menu{
        display:block;
        background-color: #4b12f715;
        margin: auto;
        margin-top: 10px;
        color: white;
        width: 100px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
        position: top;
        font-size: 2em;
        text-align: center;
    }
    #conteudo{
        margin-top: auto;
    }
}