@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}
h1{
    font-family: "Cinzel Decorative", serif;
    font-weight: bolder;
}
p{
    font-family: "Victor Mono", monospace;
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body{
    background: url(../imagens/img.png) no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;
}
main {
    position: relative;
    height: 100vh;
}
section#conteudo{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(to bottom, #6210afcb,#4b12f7,#4207f5, #16074a00 );
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 600px;
    border-radius: 50px;
    background-repeat: no-repeat;
    overflow-x: auto ;
    transition: 1s ease;
    h1{
        color: rgb(254, 255, 179);
        background-color: #16074a7c;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
    p{
        color: #97ffd7;
        background-image: linear-gradient(to top, #4b12f7, #16074a0a );
        text-align: center;
        margin: auto;
        margin-top:-20px;
        width: 300px;
        column-width: 180px;
        padding-top: 10px;
    }
    
}

#menu{
    text-align: right;
    width: 80px;
    position: absolute;
    align-items: center;
}
#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu li{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
section#menu img{
    width: 80px;
    margin: 7px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
section#menu img:hover{ 
    border: 2px solid rgba(23, 187, 17, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6);
    transition: transform 0.6s, border 1s;
}
.menu-item img{
    cursor: pointer;
}
i#icone-menu{
    display: none;
}
.conteudo-item{
    width: 300px;
    height: 500px;
    background-size: cover;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    background: url() center;
    background-color: rgba(245, 222, 179, 0.192);
    background-attachment: fixed;
    background-size: cover;
}
.conteudo-item:hover{
    width: 350px;
    height: 550px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.486);
}
#content-extra{
    display: none;
}
